body {
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(71deg, rgba(122,194,134,1) 27%, rgba(100,122,224,1) 100%);
}
.header1 {
  margin-left: 2em;
  color: rgb(255, 255, 253);
}
.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: rgb(0, 157, 255);
  color: white;
  font-size: 2em;
  padding: 0.1em 0.4em;
  text-decoration: none;
  border-radius: 0.3em;
  z-index: 2;
  display: none;
}
.scroll-top:hover {
  background-color: white;
  color: black;
}
.scroll-top:active {
  box-shadow: 0px 0px 20px rgba(88, 73, 255, 0.8);
}
.div-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-btn, .exercise-btn {
  margin-right: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.info-btn:hover, .exercise-btn:hover {
  color: rgb(0, 103, 214);
}
.info-btn:active {
  color: rgb(240, 236, 0);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  border-radius: 0.5em;
  padding: 0em 0.5em;
  margin-right: 1.5em;
}
.exercise-btn:active {
  color: rgb(240, 236, 0);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  border-radius: 0.5em;
  padding: 0em 0.5em;
  margin-right: 1.5em;
  margin-left: -0.5em;
}
.header2 {
  background: linear-gradient(148deg, rgba(122,123,194,1) 52%, rgba(0,0,0,1) 100%);
  margin: 0;
  height: 2em;
  padding-left: 3em;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}
.filter {
  margin-right: 7em;
  height: 30px;
  width: 300px;
  padding-left: 1em;
  border-radius: 1em;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.div-info {
  display: none;
}
.div-info.is-shown {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  display: initial;
}
.div-info-text {
  color: rgb(232, 212, 0);
  font-size: 2em;
  padding: 20% 15%;
  text-align: center;
}
.div-info-close-btn {
  position: fixed;
  top: 30%;
  right: 15%;
  background-color: rgb(152, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em;
  padding: 0.1em 0.4em;
  font-size: 1.5em;
}
.div-info-close-btn:hover {
  background-color: rgb(242, 2, 2);
}
.div-info-close-btn:active {
  background-color: white;
  color: rgb(242, 2, 2);
}
.background {
  background-image: url(hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.input-field {
  background-color: rgba(34, 65, 88, 0.57);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}
.exercise-field, .reps-field, .sets-field, .date-field {
  padding: 0.3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-of-exercise, .amount, .date-name {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.amount-of-sets, .amount-of-reps, .input-routine, .date {
  border-radius: 1em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  height: 2em;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  font-size: 1em;
  cursor: pointer;
}
.input-routine {
  width: 15em;
}
.amount-of-sets, .amount-of-reps {
  width: 5em;
}
.date {
  margin-left: 1.5em;
  padding: 0.1em 0.3em;
}
.submit-btn{
  border-radius: 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2em 1.5em;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgb(113, 142, 246);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.submit-btn:active {
  background-color: rgb(44, 87, 243);
  box-shadow: 0px 0px 10px rgba(79, 255, 91, 0.8);
}
.routine-list {
  width: 85vw;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
}
.alert-message {
  display: none;
}
.alert-message.is-alert {
  display: initial;
  background: radial-gradient(circle, rgba(94,78,78,1) 4%, rgba(224,47,47,1) 78%);
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  display: flex;
  justify-content: center;
  color: white;
  height: 2em;
  position: absolute;
  width: 100%;
}
.name-div, .rep-div, .set-div, .date-div {
  display: inline-block;
}

.save-button, .rep-input, .set-input {
  display: none;
}
.is-updating .save-button, .is-updating .rep-input, .is-updating .set-input {
  display: initial;
}
.is-updating .update-button {
  display: none;
}
.delete-button {
  margin: 0 0.4em;
  width: 5em;
  height: 2em;
  border-radius: 1em;
  background-color: rgba(206, 0, 0, 0.697);
  color: white;
  font-size: 0.6em;
  cursor: pointer;
  transition: 0.2s;
}
.delete-button:hover {
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.697);
  background-color: rgb(217, 0, 0);
}
.delete-button:active {
  background-color: rgb(57, 57, 57);
  color: rgb(255, 75, 75);
  font-weight: bold;
}
.update-button {
  width: 10em;
  height: 2em;
  border-radius: 1em;
  font-size: 0.6em;
  background-color: rgb(0, 115, 214);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 0.5em;
}
.update-button:hover {
  box-shadow: 0px 0px 10px rgb(0, 172, 246);
  background-color: rgb(27, 122, 255);
}
.update-button:active {
  background-color: rgb(224, 224, 224);
  color: rgb(3, 42, 158);
  font-weight: bold;
}
.save-button {
  background-color: rgba(1, 151, 1, 0.771);
  color: white;
  font-size: 0.6em;
  border-radius: 1em;
  height: 2em;
  width: 4em;
  margin-left: 0.2em;
  cursor: pointer;
  transition: 0.2s;
}
.save-button:hover {
  box-shadow: 0px 0px 10px rgba(1, 246, 1, 0.771);
  background-color: rgb(0, 196, 0);
}
.save-button:active {
  background-color: white;
  color: rgb(0, 105, 9);
  font-weight: bold;
}
.total-training {
  color: rgb(75, 161, 247);
  font-size: 2em;
  font-weight: bold;
  padding-left: 1em;
  margin-top: 20px;
  display: inline-block;
}
.sort-field {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 38vw;
  border-radius: 1em;
  padding: 0.2em 0.5em;
}
.flex-sort-div {
  display: flex;
  align-items: center;
}
.sort-div {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: bold;
  margin-right: 0.2em;
}
.sort-by-name-btn, .sort-by-date-btn {
  margin: 0em 0.4em;
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
.sort-by-name-btn:hover, .sort-by-date-btn:hover {
  box-shadow: 0px 0px 10px rgba(1, 26, 254, 0.7);
  font-weight: bold;
  padding: 0.1em 0.45em;
  margin-right: 0.45em;
}
.sort-by-name-btn:active, .sort-by-date-btn:active {
  background-color: rgb(167, 193, 249);
}
.container {
  padding: 0.4em 0.8em;
  display: flex;
  align-items: center;
}
.name-div {
  width: 16em;
}
.rep-div {
  width: 8em;
}
.set-div {
  width: 6em;
}
.date-div {
  width: 8em;
}
.rep-input, .set-input {
  width: 3.5em;
  font-size: 0.7em;
  border-radius: 0.3em;
  margin: 0 0.2em;
}
.alert-message-reps-sets {
 display: none; 
}
.alert-message-reps-sets.empty-fields {
  position: absolute;
  left: 85%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  color: rgb(240, 81, 81);
  display: initial;
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .name-div {
    width: 15em;
  }
  .routine-list {
    width: 90vw;
  }
  .alert-message-reps-sets.empty-fields {
    left: 90%;
  }
}
@media (min-width: 900px) and (max-width: 1199.99px) {
  .input-field {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-routine {
    width: 20em;
  }
  .amount-of-reps {
    width: 15.3em;
  }
  .amount-of-sets {
    width: 19.2em;
  }
  .date {
    width: 10em;
  }
  .submit-btn {
    width: 10em;
  }
  header {
    flex-direction: column;
  }
  .filter {
    width: 10em;
    margin-right: 1em;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .name-div {
    width: 40%;
  }
}
@media (max-width: 899.99px) {
  header {
    flex-direction: column;
  }
  .filter {
    width: 10em;
    margin-right: 1em;
  }
  .input-field {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-routine {
    width: 20em;
  }
  .amount-of-reps {
    width: 15.3em;
  }
  .amount-of-sets {
    width: 19.2em;
  }
  .date {
    width: 10em;
  }
  .submit-btn {
    width: 10em;
  }
  .sort-field {
    margin-left: 0em;
  }
  .routine-list {
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(123, 158, 248);
    border-radius: 1em;
    margin-bottom: 0.1em;
  }
  .name-div {
    width: 7em;
  }
  .rep-div {
    width: 5em;
  }
  .set-div {
    width: 4em;
  }
  .date-div {
    width: 5em;
  }
  .update-button {
    width: 5em;
  }
  .scroll-top {
    right: 5px;
  }
  .div-info-close-btn {
    right: 10%;
  }
  .alert-message {
    text-align: center;
  }
}